/*------------FONTS-------------*/
@font-face {
  font-family: 'Round';
  src: url('../assets/fonts/MPLUSRounded1c-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'Round';
  src: url('../assets/fonts/MPLUSRounded1c-Black.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Round';
  src: url('../assets/fonts/MPLUSRounded1c-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Round';
  src: url('../assets/fonts/MPLUSRounded1c-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Round';
  src: url('../assets/fonts/MPLUSRounded1c-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Round';
  src: url('../assets/fonts/MPLUSRounded1c-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Round';
  src: url('../assets/fonts/MPLUSRounded1c-Thin.ttf');
  font-weight: 200;
}
@font-face {
  font-family: 'Varela';
  src: url('../assets/fonts/VarelaRound-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu-Light.ttf');
  font-weight: 300;
}

/*------------NORMALIZE-------------*/

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #151515;
  font-family: 'Ubuntu', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: #ffffff;
  -webkit-tap-highlight-color: transparent;
}

button,
input,
select,
textarea {
  outline: none;
  border: none;
}

img,
svg {
  vertical-align: top;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
