/*------------FONTS-------------*/

/*------------NORMALIZE-------------*/

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7fafc;
  color: #2d3748;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;

  transition: all 0.2s linear;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: #ffffff;
  -webkit-tap-highlight-color: transparent;
}

button,
input,
select,
textarea {
  outline: none;
  border: none;
}

img,
svg {
  vertical-align: top;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

@keyframes loadingSkeleton {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}
